In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [26]:
dataset=pd.read_csv('Customer.csv')
dataset.head()

   Gender  Age  Salary  Purchased
0    Male   19   19000          0
1    Male   35   20000          0
2  Female   26   43000          0
3  Female   27   57000          0
4    Male   19   76000          0

In [27]:
x=dataset[['Age','Salary']]
y=dataset['Purchased']

In [35]:
from sklearn.linear_model import LogisticRegression
LR=LogisticRegression(random_state=0)

from sklearn.neighbors import KNeighborsClassifier
obj=KNeighborsClassifier(n_neighbors=4)

# Cross validation

In [36]:
#C.V is lets suppose we make 10 equal parts of dataset now we take each of them one by one as testing data find the accuracy of
#each one

In [37]:
from sklearn.model_selection import cross_val_score

In [38]:
print(cross_val_score(obj,x,y,cv=10,scoring='accuracy').mean())

0.65

c:\users\ankit\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_split.py:668: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)

In [39]:
print(cross_val_score(LR,x,y,cv=10,scoring="accuracy"))

[0.5 1.  1.  1.  1.  0.5 0.5 0.5 0.5 1. ]

c:\users\ankit\appdata\local\programs\python\python37\lib\site-packages\sklearn\model_selection\_split.py:668: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  % (min_groups, self.n_splits)), UserWarning)