In [1]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np
import math

In [13]:
iris=load_iris()
x=iris.data[:,:4]
y=iris.target
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [16]:
df=pd.DataFrame(x,columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [19]:
df['target']=y  
df.head() #dataframe created

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [73]:
df.sample(frac=1)
#frac=1 used to return all the values

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.8,2.7,3.9,1.2,1
1,5.6,2.7,4.2,1.3,1
2,5.2,3.4,1.4,0.2,0
3,6.9,3.1,5.1,2.3,2
4,5.1,3.3,1.7,0.5,0
...,...,...,...,...,...
145,5.2,4.1,1.5,0.1,0
146,6.4,3.2,5.3,2.3,2
147,7.7,3.8,6.7,2.2,2
148,4.4,3.0,1.3,0.2,0
149,7.1,3.0,5.9,2.1,2

In [ ]:
df=df.sample(frac=1).reset_index(drop=True)
#sample is used to shuffle the datasets 
#.reset_index is used to prevent to change the index

# Euclidean distance

In [27]:
#E.D=sqrt((x2-x1)^2+(y2-y1)^2)

def euclidean_distance(row1,row2):
    distance=0.0
    for i in range(len(row1)-1):   #last column is of target so we minus 1
        distance+=(row1[i]-row2[i])**2
    return math.sqrt(distance)

In [28]:
dataset=df.iloc[100:105,:].values
print(dataset)
row0=dataset[0]
row0

[[6.3 3.3 6.  2.5 2. ]
 [5.8 2.7 5.1 1.9 2. ]
 [7.1 3.  5.9 2.1 2. ]
 [6.3 2.9 5.6 1.8 2. ]
 [6.5 3.  5.8 2.2 2. ]]

array([6.3, 3.3, 6. , 2.5, 2. ])

In [29]:
for row in dataset:
    distance=euclidean_distance(row0,row)  #ed of row0 with all other rows
    print(distance)

0.0
1.3341664064126335
0.9486832980505134
0.9
0.5099019513592784

# counting the neighbors

In [45]:
def get_neighbors(train,test_row,num_neighbors):  #no of neighbors around test_row in dataset train
    distance=list()
    for train_row in train:
        dist=euclidean_distance(train_row,test_row)
        distance.append((train_row,dist))
    
    distance.sort(key=lambda var:var[1])  #sorted on the basis of dist   its index is 1 so by using lambda we created
    #print(distance)                      # temp variable and sorted var[1] i.e., distance
    neighbors=list()
    for i in range(num_neighbors):
        neighbors.append(distance[i][0])
    return neighbors

In [46]:
neighbors=get_neighbors(dataset,dataset[0],3)
for neighbor in neighbors:
    print(neighbor)

[6.3 3.3 6.  2.5 2. ]
[6.5 3.  5.8 2.2 2. ]
[6.3 2.9 5.6 1.8 2. ]

# prediction classification

In [61]:
def prediction_classification(train,test_row,num_neighbors):
        neighbors=get_neighbors(train,test_row,num_neighbors)
        #print(neighbors)
        output_values=[row[-1] for row in neighbors]  #target column
        prediction=max(set(output_values),key=output_values.count)   # it is calculating the value whose
        return prediction                                            #  frequency is more by using key(on which basis)

In [62]:
pred=prediction_classification(dataset,dataset[0],3)
pred

2.0

In [65]:
print('y_test value is %d, get prediction is %d'%(dataset[0][-1],pred))

y_test value is 2, get prediction is 2