In [17]:
import pandas as pd

In [18]:
df=pd.read_csv('D:\\Machine learning\\demo.csv')
df  #contains ordinal and nominal categorical data

   id  Age Qualification  Gender  Salary
0   1   28        Master    Male   50000
1   2   30      Bachelor  Female   60000
2   3   24        Master    Male   45000
3   4   27           PhD    Male   52000
4   5   28        Master    Male   53000
5   6   20        Master  Female   42000
6   7   21      Bachelor    Male   42000
7   8   20      Bachelor  Female   30000
8   9   26           PhD    Male   49000
9  10   25      Bachelor    Male   49000

In [19]:
#handling with ordinal data
df.Qualification=pd.Categorical(df.Qualification,['Bachelor','Master','PhD'],ordered=True)
print(df.Qualification)  #observe last line now ['Bachelor' < 'Master' < 'PhD']
df.Qualification=df.Qualification.cat.codes  #.cat gives differnt categories and .code converted categories into 0,1,2,3...
df.Qualification

0      Master
1    Bachelor
2      Master
3         PhD
4      Master
5      Master
6    Bachelor
7    Bachelor
8         PhD
9    Bachelor
Name: Qualification, dtype: category
Categories (3, object): ['Bachelor' < 'Master' < 'PhD']

0    1
1    0
2    1
3    2
4    1
5    1
6    0
7    0
8    2
9    0
Name: Qualification, dtype: int8